.App {
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
  color: inherit;
}

 button:hover {
  cursor: pointer;
   scale: .95;
}

li{
  list-style: none;
}


#products-container {
  min-width: 70vw;
  margin-top: 20px;
}

#products-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 20px;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  background-color: rgba(218, 217, 216, 0.681);
  min-width: 150px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
 
}

.card a{
   display: flex;
  flex-direction: column;
   gap: 10px;
}

.card a img {
  width: 150px;
  height: 150px;
  align-self: center;
  border-radius: 10px;
}


.card button{
  border: none;
  border-radius: 10px;
  background: #eadf02;
  font-size: large;
}

#productPage {
  display: flex;
  flex-direction: column;
}

#productPage button {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: larger;
}




#productPage #buy {
  background: red;
  color: white;
}
#productPage #addToCart {
  background: yellow;
  color: black;
}


#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #f7f7f7;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 1rem;
  overflow-y: auto;
  z-index: 1000;
}


#sidebar.open {
  transform: translateX(0);
}


.sidebar-toggle {
  position: relative;
  top: 20px;
  right: 20px;
  /* z-index: 1100; */
  padding: 0.6rem 1rem;
  border: none;
  /* background-color: #333; */
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.sidebar-toggle:hover {
  background-color: #c7c7c7;
}


#sidebar h3 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}


.filters ul{
display: flex;
flex-wrap: wrap;
gap: 15px;
}

.filters ul li{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  cursor: pointer;
  background-color: #f5f2f2;
  padding: 5px;
  border-radius: 15px;
}

.filters ul .active{
  background: #c8c7c7;
}